.wrapper {
    display: flex;
    align-items: stretch;
}

#content {
    min-height: 100vh;
    width: 100%;
    transition: all 0.3s;
}

.home-page {
    background-image: url('/img/home3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    height: 100%;
    padding: 70px;
}

.home-page .title {
    font-size: 30px;
    color: var(--white-text-color);
}

.home-page .title p {
    margin-bottom: 0px;
    letter-spacing: 2px;
    line-height: 63px;
}

.home-page .title .firstname {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 60px;
}
.home-page .title .lastname {
    font-family: 'Josefin Slab', serif;
    font-size: 60px;
}

.home-page .title .hi {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
}

.home-page .title .typewrite {
    font-family: 'Jura', sans-serif;
    font-size: 45px;
}

.typewrite {
    color: #fff;
}