.wrapper {
    display: flex;
    align-items: stretch;
}

#content {
    min-height: 100vh;
    width: 100%;
    transition: all 0.3s;
    position: relative;
    overflow: auto;
}

.home-page {
    background-image: url('/img/home2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    height: 100%;
    padding: 70px;
}

.home-page .title {
    font-size: 30px;
    color: var(--white-text-color);
}

.home-page .title p {
    margin-bottom: 0px;
    letter-spacing: 2px;
    line-height: 63px;
}

.home-page .title .firstname {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 60px;
}
.home-page .title .lastname {
    font-family: 'Josefin Slab', serif;
    font-size: 60px;
}

.home-page .title .hi {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
}

.home-page .title .typewrite {
    font-family: 'Jura', sans-serif;
    font-size: 45px;
}

.typewrite {
    color: #fff;
}

.page {
  top: 0;
  width: 100%;
  min-height: 100%;
  position: absolute;
  background-color: var(--page-bg-color);
  margin-left: -120%;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.page:target {
    margin-left: 0%;
}

/* contacts-contant */

.page-contant {
    margin: 80px 40px 20px 40px;
    position: relative;
}

.side-icon {
    position: absolute;
    right: 0;
    font-size: 190px;
    top: -100px;
    color: #0c54601c;
    z-index: 50;
}

.page-contant .page-title span{
    font-size:  2rem;
    font-family: 'Montserrat', sans-serif;
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

.get-in-touch-list {
    list-style: none;
    color: var(--main-color);
}

.google-map {
    width: inherit;
    height: 400px;
}

.timeline-continer {
    border-left: 1px solid var(--main-color);
}

.timeline {
    margin-bottom: 15px;
    border: none;
}

.timeline::after {
    position: absolute;
    content: '';
    width: 13px;
    height: 13px;
    background: var(--main-color);
    left: -8px;
    top: -5px;
    border-radius: 50%;
}

.personal-info {
    list-style: none;
    padding-left: 10px;
}

.skill-card {
    padding: 10px;
}

.skill-logo {
    height: 60px;
    width: 200px;
}

.skill-header {
    border-bottom: 1px solid;
}

.project-item p{
    margin-bottom: 5px;
}

.project-item {
    width: 100%;
    margin-top: 20px;
}
.project-item .other-info {
    font-size: 12px;
}

.project-item .other-info a{
    margin-right: 10px;
    color: var(--main-color);
}