.wrapper {
    display: flex;
    align-items: stretch;
}

#content {
    min-height: 100vh;
    width: 100%;
    transition: all 0.3s;
}

.home-page {
    background-image: url('/img/home3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    height: 100%;
    padding: 70px;
}

.home-page .title {
    font-size: 30px;
    color: var(--white-text-color);
}

.typewrite {
    color: #fff;
}