#sidebar {
    width: 280px;
    padding: 50px;
    z-index: 999;
    background: var(--sidebar-bg-color); 
    transition: all 0.3s;
}

.sidebar-menu {
    margin-top: 25px;
    padding: 10px;
}
.sidebar-menu a{
    color: var(--main-color);
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    padding: 5px;
}

.sidebar-menu a.active{
    background-color: var(--main-color);
    color: var(--white-text-color);
    border-radius: 100px;
}

.sidebar-footer {
    margin-top: 40px;
}

.sidebar-footer .social-icons{
    color: var(--main-color);
    padding: 2px;
}

#sidebarCollapse {
    display: none;
    z-index: 999;
    margin-left: 15px;
    margin-top: 15px;
    position: absolute;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -280px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse {
        display: block;
    }
}