:root {
    --sidebar-bg-color: #f7f7f7;
    --main-color: #0c5460;
    --white-text-color: #fff;
    --page-bg-color: #fff;
}

.badge-main {
    background-color: var(--main-color);
    color: var(--white-text-color);
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    padding: 7px;
}

.main-color-text {
    color: var(--main-color);
}

.main-color-border {
    border: 1px solid var(--main-color);
}