:root {
    --background-color: #1d1d1d;
    --dark-background: #181818;
    --primary-color: #00adb5;
    font-size: 16px;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    background-color: var(--background-color);
    font-family: "Montserrat", sans-serif;
    color: #fff;
}

#root {
    display: flex;
    overflow: hidden;
}

.bold {
    font-weight: bold;
}

*::-moz-selection {
    color: #fff;
    background: var(--primary-color);
}

*::selection {
    color: #fff;
    background: var(--primary-color);
}

*,
::after,
::before {
  box-sizing: border-box;
}

.my-photo {
    height: 100%;
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-background);

    .sidebar-name {
        font-weight: 300;
        letter-spacing: 5px;
        text-transform: uppercase;
        line-height: 1.6;
        padding: 2rem;
        cursor: pointer;

        &:hover {
            color: var(--primary-color);
        }
    }

    .social-icons {
        display: flex;
        flex-direction: column;
        padding: 1rem;

        a {
            color: rgba(255,255,255,.6);
            margin: 0.5rem 0;
        }

        .linkedin {
            &:hover {
                color: #0077b5;
            }
        }

        .twitter {
            &:hover {
                color: #1da1f2;
            }
        }

        .facebook {
            &:hover {
                color: #3b5998;
            }
        }

        .instagram {
            &:hover {
                color: #e1306c;
            }
        }
    }
}

#main-page {
    flex: 1;
    min-width: 0;
    min-height: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .sub-footer {
        color: rgba(255, 255, 255, 0.2);
        font-size: 1rem;
        margin: 1rem 0 3rem 0;
        letter-spacing: 3px;
    }

    .my-photo {
        display: none;
        height: 100%;
        opacity: 0.4;
    }

    .contect-me-footer {
        background-color: var(--primary-color);
        color: #fff;
        font-size: 0.7rem;
        letter-spacing: 4px;
        text-decoration: none;
        padding: 0.7rem 1.3rem;
        text-transform: uppercase;
    }
}

.home-name {
    font-size: 3rem;
    padding: 2rem 3rem;
}

.text-primary {
    color: var(--primary-color);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #main-page {
        .my-photo {
            display: block;
        }
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}